__pycache__/
wandb/
# isaaclab/
isaacgym/assets/
isaacgym/docs/
isaacgym/licenses/
isaacgym/python/
isaacgym/docker/
checkpoints/

InterAct/OMOMO
InterAct/OMOMO_new
InterAct/OMOMO_retarget
# *.pt
*.zip
# *.sh